body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
header input{
    float: right;
    margin-right: -220px;
    margin-top: 20px;
    padding: 3px;
}
header nav{
    /* text-align: center; se puede pero no nos sirve*/
    /* margin: 0 auto; es otra forma de hacerlo*/
    margin-left: 230px;
}
header nav ul li{
    border-bottom: 1px solid rgba(150, 150, 150,.5);
    color: rgba(150, 150, 150,.5);
    display: inline-block;
    font-size: 1.8em;
    margin-right: 20px;
    padding-bottom: 2px;
    /* text-decoration: underline; es una forma pero no nos sirve*/
}

#logoGranthams{
    margin-left: 40px;
    margin-top: 20px;
}
#imgPaint{
    float: right;
}
