html{
    --color-azul-bajo:rgba(35,94,146,1);
    --color-azul-fuerte:rgba(30,73,115,1);
    --color-gris:rgba(239,239,239,1);
    --color-blanco:rgba(255,255,255,1);

    --color-verde:rgba(25,168,32,1);
    --color-lila:rgba(127,26,168,1);
    --color-azul-cubo: rgba(27,109,169,1);
    --color-rojo:rgba(167,26,25,1);

    --color-azul-masBajo:rgba(189,232,241,1);
    --color-amarillo:rgba(250,235,204,1);
    --color-rojoBajo:rgba(235,204,209,1);

    --color-azul-boton:rgba(91,192,220,1);
    --color-azul-card:rgba(74,106,174,1);
}
body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header{
    background: var(--color-azul-bajo);
}
header img{
    width: 200px;
    margin-left: 40%;
    padding: 10px;
}
main{
    margin-top: -14px;
    background: var(--color-gris);
}
.leftPanel{
    margin-left: 15px;
    max-width: 260px;
}
.bar{
    background: var(--color-blanco);
    color: black;
}
.userText{
    color: var(--color-blanco);
    font-size: 1.5em;
}
.cube{
    border-radius: 5px;
    color: var(--color-blanco);
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-left: 8px;
    width: 23%;
    height: 155px;
}
.cube img{
    margin-top: 5px;
    margin-left: 5%;
    width: 90px;
}
.subtitle{
    margin-left: 15px;
    color: rgb(67, 66, 66);
    padding: 10px;
}
.card{
    background: var(--color-azul-card);
    display: inline-block;
    height: 220px;
    margin-left: 10px;
    text-align: center;
    vertical-align: top;
    width: 23%;
}
.card img{
    margin-top: 8px;
    width: 150px;
}
.buttonPencil{
    background: var(--color-azul-boton);
    border-style: none;
    border-radius: 5px;
    color: var(--color-blanco);
    font-size: .8em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
}

#cubeSection article.cube:nth-child(3){
    background: var(--color-verde);
}
#cubeSection article.cube:nth-child(4){
    background: var(--color-azul-cubo);
}
#cubeSection article.cube:nth-child(5){
    background: var(--color-lila);
}
#cubeSection article.cube:nth-child(6){
    background: var(--color-rojo);
}
#section01 article nav{
    margin-left: 68%;
    padding-bottom: 10px;
}
#section01 article nav ul li{
    display: inline-block;
    list-style: none;
}
#section01 article nav ul li img{
    width: auto;
    height:35px;
}
#leftSection{
    display: inline-block;
    max-width: 28%;
}
#panelWithLinks{
    background-color: var(--color-azul-fuerte);
    color: var(--color-gris);
}
#panelWithLinks img{
    width: 100%;
}
#panelWithLinks ul{
    margin: -5px 0 0 -10px;
}
#panelWithLinks ul li{
    font-size: .9em;
    list-style: none;
    margin-left: -25px;
    padding: 5px;
}
#panelWithProgress{
    background: var(--color-blanco);
    margin-top: 20px;
}
#panelWithProgress span{
    background-color: var(--color-azul-bajo);
    color: var(--color-blanco);
    margin-left: -7px;
    margin-right: -17;
    padding: 12px 83px 17px 10px;
}
#panelWithProgress img{
    vertical-align: middle;
}
#panelWithProgress ul li{
    margin-left: -40px;
    list-style: none;
}
#panelWithProgress ul li img{
    margin-top: 10px;;
    width: 100%;
}
#cubeSection{
    background: var(--color-blanco);
    border-radius: 10px;
    float: right;
    margin-left: 28px;
    padding-bottom: 40px;
    width: 70%;
    vertical-align: top;
}
#panelsSection{
    float: right;
    background: var(--color-blanco);
    margin-top: -480px;
    padding-bottom: 80px;
    width: 70%;
}
#panelsSection img{
    width: 97%;
    margin-left: 10px;
}
#userSection{
    background: var(--color-blanco);
    border-radius: 10px;
    width: 70%;
    float: right;
    margin-top: -270px;
}


