html{
    --color-azul-bajo:rgba(35,94,146,1);
    --color-azul-fuerte:rgba(30,73,115,1);
}
body{
    background: var(--color-azul-bajo);
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header img{
    margin-left: 40%;
}