/* siempre se inicia estilizando el body */
/*Notas:
    -la letra M es el caracter mas ancho que existe, entonces
    se usan conjuntos de M de ahi el nombre em
    -tamaño estandar de texto es de 16px = 1em 
    -los valores en caso de ser 4 van en las manecillas del reloj
    -en caso de tener dos valores son AA--ID
    -en caso de tener 1 valor aplica para los 4 lados*/    
body{
    border: 1px dashed red;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header{
    background: #D1E3EE;
}
header nav{
    background: #026DC6;
    border-radius: 5px;     /*Estandar es 5px*/
    margin: 0px auto;       /*Centrar cajas*/
    padding: 2px 0px ;
    width: 99%;
}
header nav form{
    float: right;           /*mover elementos dentro de la caja*/
    margin-right: 10px;
    margin-top: -35px;
}
header nav form input{
    border-radius: 5px;
}
header nav form input[type="submit"]{
    background: green;
    border: 1px solid green;
    color: #FFFFFF;
}
header nav ul li{
    color: #FFFFFF;
    display: inline-block;  /*Acomodar horizontal*/
    margin-right: 20px;     /*Separar cajas*/
}
#logo{
    margin-top: -150px;
}